In [46]:
# Import necessary libraries
import pandas as pd
import numpy as np
import re

In [47]:
# Load the raw earthquake data CSV file
df = pd.read_csv('earthquakes_nepal_0.csv')

In [48]:
# Display the first few rows of the DataFrame
df.head()

,date,time,latitude,longitude,magnitude,epicenter
0,B.S.: 2082-05-01A.D.: 2025-08-17,Local: 15:43UTC: 09:58,27.7,86.53,4.0,Ramechap
1,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:10UTC: 14:25,28.96,82.12,5.5,Jajarkot*
2,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:07UTC: 14:22,28.95,82.12,5.2,Jajarkot
3,B.S.: 2081-12-20A.D.: 2025-04-03,Local: 17:04UTC: 11:19,30.02,80.84,4.0,Darchula
4,B.S.: 2081-12-12A.D.: 2025-03-26,Local: 19:44UTC: 13:59,29.69,81.82,4.5,Humla

In [49]:
# Show info about DataFrame columns and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1317 entries, 0 to 1316
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1257 non-null   object
 1   time       1257 non-null   object
 2   latitude   1257 non-null   object
 3   longitude  1257 non-null   float64
 4   magnitude  1257 non-null   float64
 5   epicenter  1257 non-null   object
dtypes: float64(2), object(4)
memory usage: 61.9+ KB

In [50]:
# Show the shape (rows, columns) of the DataFrame
df.shape

(1317, 6)

In [51]:
# Count missing values in each column
df.isna().sum()

date         60
time         60
latitude     60
longitude    60
magnitude    60
epicenter    60
dtype: int64

In [52]:
# Drop rows where all values are missing
df.dropna(how='all', inplace=True)

In [53]:
# Check missing values again after dropping empty rows
df.isna().sum()

date         0
time         0
latitude     0
longitude    0
magnitude    0
epicenter    0
dtype: int64

In [54]:
# Check the shape after dropping empty rows
df.shape

(1257, 6)

In [55]:
# Count the number of duplicate rows
df.duplicated().sum()

5

In [56]:
# Get all duplicate rows (for inspection)
duplicate_rows = df[df.duplicated(keep=False)]

In [57]:
# Reset index for duplicate rows and print them
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

   index                              date                    time latitude  \
0     21  B.S.: 2082-05-06A.D.: 2025-08-22  Local: 23:15UTC: 17:30    27.54
1     42  B.S.: 2082-05-06A.D.: 2025-08-22  Local: 23:15UTC: 17:30    27.54
2     61  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 16:03UTC: 10:18    28.03
3     62  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 08:59UTC: 03:14    27.95
4     65  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 16:03UTC: 10:18    28.03
5     68  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 08:59UTC: 03:14    27.95
6     80  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 15:45UTC: 10:00    29.58
7     83  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 17:19UTC: 11:34    29.56
8     88  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 17:19UTC: 11:34    29.56
9     89  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 15:45UTC: 10:00    29.58

   longitude  magnitude      epicenter
0      87.14        4.4  Sankhuwasabha
1      87.14        4.4  Sankhuwasabha
2      84.83        4.4        Dhading
3      84.79        4.1        Dhading
4      84.83        4.4        Dhading
5      84.79        4.1        Dhading
6      81.10        4.1        Bajhang
7      81.16        5.0        Bajhang
8      81.16        5.0        Bajhang
9      81.10        4.1        Bajhang

In [58]:
# Drop duplicate rows, keeping the first occurrence
df.drop_duplicates(keep='first', inplace=True)

In [59]:
# Check shape after removing duplicates
df.shape

(1252, 6)

In [60]:
# Show rows with any missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, time, latitude, longitude, magnitude, epicenter]
Index: []

In [61]:
# Manually fill a missing latitude value at index 1243
df.loc[1243, 'latitude'] = 28.03

In [62]:
# Check again for rows with missing values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, time, latitude, longitude, magnitude, epicenter]
Index: []

In [63]:
# Show data types of all columns
df.dtypes

date          object
time          object
latitude      object
longitude    float64
magnitude    float64
epicenter     object
dtype: object

In [64]:
# Display the 'epicenter' column
df['epicenter']

0        Ramechap
1       Jajarkot*
2        Jajarkot
3        Darchula
4           Humla
          ...
1312      Dolakha
1313         Mugu
1314       Bajura
1315      Baglung
1316      Kalikot
Name: epicenter, Length: 1252, dtype: object

In [65]:
# Clean the 'epicenter' column: remove non-letter characters and strip whitespace
df["epicenter"] = df["epicenter"].apply(lambda x: re.sub(r"[^a-zA-Z\s]", "", x).strip())
df["epicenter"] = df["epicenter"].astype(str)

In [66]:
# Display the cleaned 'epicenter' column
df['epicenter']

0       Ramechap
1       Jajarkot
2       Jajarkot
3       Darchula
4          Humla
          ...
1312     Dolakha
1313        Mugu
1314      Bajura
1315     Baglung
1316     Kalikot
Name: epicenter, Length: 1252, dtype: object

In [67]:
# Show the first row to check the data
df.head(1)

,date,time,latitude,longitude,magnitude,epicenter
0,B.S.: 2082-05-01A.D.: 2025-08-17,Local: 15:43UTC: 09:58,27.7,86.53,4.0,Ramechap

In [68]:
# Extract BS (Bikram Sambat) and AD (Anno Domini) dates from the 'date' column
df['BS_date'] = df['date'].str.extract(r'B\.S\.: (\d{4}-\d{2}-\d{2})')
df['AD_date'] = df['date'].str.extract(r'A\.D\.: (\d{4}-\d{2}-\d{2})')

In [69]:
# Extract Local and UTC times from the 'time' column
df['Local_time'] = df["time"].str.extract(r"Local:\s*(\d{1,2}:\d{2})")
df['UTC_time'] = df["time"].str.extract(r"UTC:\s*(\d{1,2}:\d{2})")

In [70]:
# Combine date and time columns for easier analysis
df['AD_UTC'] = df['AD_date'] + ' ' + df['UTC_time']
df['BS_Local'] = df['BS_date'] + ' ' + df['Local_time']
df['AD_Local'] = df['AD_date'] + ' ' + df['Local_time']

In [71]:
# Show a random sample of 2 rows to check the new columns
df.sample(2)

,date,time,latitude,longitude,magnitude,epicenter,BS_date,AD_date,Local_time,UTC_time,AD_UTC,BS_Local,AD_Local
1056,B.S.: 2064-11-19A.D.: 2008-03-02,Local: 19:59UTC: 14:14,29.69,81.76,4.4,Humla,2064-11-19,2008-03-02,19:59,14:14,2008-03-02 14:14,2064-11-19 19:59,2008-03-02 19:59
765,B.S.: 2072-01-15A.D.: 2015-04-28,Local: 10:48UTC: 05:03,27.88,85.88,4.2,Sindhupalchowk,2072-01-15,2015-04-28,10:48,05:03,2015-04-28 05:03,2072-01-15 10:48,2015-04-28 10:48

In [73]:
# Show the shape of the DataFrame after all cleaning steps
df.shape

(1252, 13)

In [74]:
# Check for duplicate rows again and print them (for verification)
duplicate_rows = df[df.duplicated(keep=False)]
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

   index                              date                    time latitude  \
0    230  B.S.: 2076-09-27A.D.: 2020-01-12  Local: 20:19UTC: 14:34    29.58
1    232  B.S.: 2076-09-27A.D.: 2020-01-12  Local: 20:19UTC: 14:34    29.58

   longitude  magnitude epicenter     BS_date     AD_date Local_time UTC_time  \
0      81.71        4.5    Bajura  2076-09-27  2020-01-12      20:19    14:34
1      81.71        4.5    Bajura  2076-09-27  2020-01-12      20:19    14:34

             AD_UTC          BS_Local          AD_Local
0  2020-01-12 14:34  2076-09-27 20:19  2020-01-12 20:19
1  2020-01-12 14:34  2076-09-27 20:19  2020-01-12 20:19

In [75]:
# Drop any remaining duplicate rows
df.drop_duplicates(inplace=True)

In [76]:
# Check for duplicate rows again and print them (final check)
duplicate_rows = df[df.duplicated(keep=False)]
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

Empty DataFrame
Columns: [index, date, time, latitude, longitude, magnitude, epicenter, BS_date, AD_date, Local_time, UTC_time, AD_UTC, BS_Local, AD_Local]
Index: []

In [77]:
# Show DataFrame info after all cleaning steps
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1251 entries, 0 to 1316
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1251 non-null   object
 1   time        1251 non-null   object
 2   latitude    1251 non-null   object
 3   longitude   1251 non-null   float64
 4   magnitude   1251 non-null   float64
 5   epicenter   1251 non-null   object
 6   BS_date     1251 non-null   object
 7   AD_date     1251 non-null   object
 8   Local_time  1251 non-null   object
 9   UTC_time    1251 non-null   object
 10  AD_UTC      1251 non-null   object
 11  BS_Local    1251 non-null   object
 12  AD_Local    1251 non-null   object
dtypes: float64(2), object(11)
memory usage: 136.8+ KB

In [78]:
# Convert combined date-time strings to pandas datetime objects
df['AD_UTC_dt'] = pd.to_datetime(df['AD_UTC'], format='%Y-%m-%d %H:%M')
df['AD_Local_dt'] = pd.to_datetime(df['AD_Local'], format='%Y-%m-%d %H:%M')

In [79]:
# Show a random sample row to check the datetime columns
df.sample()

,date,time,latitude,longitude,magnitude,epicenter,BS_date,AD_date,Local_time,UTC_time,AD_UTC,BS_Local,AD_Local,AD_UTC_dt,AD_Local_dt
529,B.S.: 2072-03-01A.D.: 2015-06-16,Local: 21:56UTC: 16:11,27.7,86.16,4.1,Dolakha,2072-03-01,2015-06-16,21:56,16:11,2015-06-16 16:11,2072-03-01 21:56,2015-06-16 21:56,2015-06-16 16:11:00,2015-06-16 21:56:00

In [80]:
# Sort the DataFrame by the AD_UTC column in ascending order
df.sort_values(by='AD_UTC', ascending=True, inplace=True)

In [81]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv("earthquakes_nepal.csv", index=False)

In [82]:
df1 = pd.read_csv('earthquakes_nepal.csv')

In [83]:
df2 = pd.read_csv('earthquakes_nepal_data.csv')

In [84]:
df1.dtypes

date            object
time            object
latitude       float64
longitude      float64
magnitude      float64
epicenter       object
BS_date         object
AD_date         object
Local_time      object
UTC_time        object
AD_UTC          object
BS_Local        object
AD_Local        object
AD_UTC_dt       object
AD_Local_dt     object
dtype: object

In [85]:
df2.dtypes

date            object
time            object
latitude       float64
longitude      float64
magnitude      float64
epicenter       object
BS_date         object
AD_date         object
Local_time      object
UTC_time        object
AD_UTC          object
BS_Local        object
AD_Local        object
AD_UTC_dt       object
AD_Local_dt     object
dtype: object