In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('earthquakes_nepal_0.csv')

In [3]:
df.head()

,date,time,latitude,longitude,magnitude,epicenter
0,NaN,NaN,NaN,NaN,NaN,NaN
1,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:10UTC: 14:25,28.96,82.12,5.5,Jajarkot*
2,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:07UTC: 14:22,28.95,82.12,5.2,Jajarkot
3,B.S.: 2081-12-20A.D.: 2025-04-03,Local: 17:04UTC: 11:19,30.02,80.84,4.0,Darchula
4,B.S.: 2081-12-12A.D.: 2025-03-26,Local: 19:44UTC: 13:59,29.69,81.82,4.5,Humla

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1317 entries, 0 to 1316
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1254 non-null   object
 1   time       1254 non-null   object
 2   latitude   1254 non-null   object
 3   longitude  1254 non-null   float64
 4   magnitude  1254 non-null   float64
 5   epicenter  1254 non-null   object
dtypes: float64(2), object(4)
memory usage: 61.9+ KB

In [5]:
df.info

<bound method DataFrame.info of                                   date                    time latitude  \
0                                  NaN                     NaN      NaN
1     B.S.: 2081-12-21A.D.: 2025-04-04  Local: 20:10UTC: 14:25    28.96
2     B.S.: 2081-12-21A.D.: 2025-04-04  Local: 20:07UTC: 14:22    28.95
3     B.S.: 2081-12-20A.D.: 2025-04-03  Local: 17:04UTC: 11:19    30.02
4     B.S.: 2081-12-12A.D.: 2025-03-26  Local: 19:44UTC: 13:59    29.69
...                                ...                     ...      ...
1312  B.S.: 2051-03-11A.D.: 1994-06-25  Local: 14:17UTC: 08:32    27.82
1313  B.S.: 2051-02-11A.D.: 1994-05-25  Local: 19:10UTC: 13:25     29.8
1314  B.S.: 2051-02-11A.D.: 1994-05-25   Local: 12:00UTC: 6:15    29.81
1315  B.S.: 2051-01-20A.D.: 1994-05-03  Local: 00:30UTC: 18:45    28.52
1316  B.S.: 2050-11-24A.D.: 1994-03-08  Local: 07:50UTC: 02:05    29.33

      longitude  magnitude  epicenter
0           NaN        NaN        NaN
1         82.12        5.5  Jajarkot*
2         82.12        5.2   Jajarkot
3         80.84        4.0   Darchula
4         81.82        4.5      Humla
...         ...        ...        ...
1312      86.19        5.1    Dolakha
1313      82.41        4.5       Mugu
1314      81.77        4.0     Bajura
1315      83.03        4.4    Baglung
1316      81.83        4.0    Kalikot

[1317 rows x 6 columns]>

In [6]:
df.shape

(1317, 6)

In [7]:
df.isna().sum()

date         63
time         63
latitude     63
longitude    63
magnitude    63
epicenter    63
dtype: int64

In [8]:
df.dropna(how='all',inplace = True)

In [9]:
df.isna().sum()

date         0
time         0
latitude     0
longitude    0
magnitude    0
epicenter    0
dtype: int64

In [10]:
df.shape

(1254, 6)

In [11]:
df.duplicated().sum()

4

In [12]:
duplicate_rows = df[df.duplicated(keep=False)]

In [13]:
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

   index                              date                    time latitude  \
0     61  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 16:03UTC: 10:18    28.03
1     62  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 08:59UTC: 03:14    27.95
2     65  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 16:03UTC: 10:18    28.03
3     68  B.S.: 2080-07-05A.D.: 2023-10-22  Local: 08:59UTC: 03:14    27.95
4     80  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 15:45UTC: 10:00    29.58
5     83  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 17:19UTC: 11:34    29.56
6     88  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 17:19UTC: 11:34    29.56
7     89  B.S.: 2080-06-16A.D.: 2023-10-03  Local: 15:45UTC: 10:00    29.58

   longitude  magnitude epicenter
0      84.83        4.4   Dhading
1      84.79        4.1   Dhading
2      84.83        4.4   Dhading
3      84.79        4.1   Dhading
4      81.10        4.1   Bajhang
5      81.16        5.0   Bajhang
6      81.16        5.0   Bajhang
7      81.10        4.1   Bajhang

In [14]:
df.drop_duplicates(keep='first',inplace= True)

In [15]:
df.shape

(1250, 6)

In [18]:
df.dtypes

date          object
time          object
latitude      object
longitude    float64
magnitude    float64
epicenter     object
dtype: object

In [19]:
df["latitude"] = pd.to_numeric(df["latitude"].astype(str).str.strip(), errors="coerce")
df["longitude"] = pd.to_numeric(df["longitude"].astype(str).str.strip(), errors="coerce")

In [20]:
df[df.isnull().any(axis=1)]

,date,time,latitude,longitude,magnitude,epicenter
1243,B.S.: 2053-10-18A.D.: 1997-01-31,Local: 02:27UTC: 20:42,NaN,85.33,4.2,Rasuwa

In [21]:
df.loc[1243,'latitude'] = 28.03

In [22]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, time, latitude, longitude, magnitude, epicenter]
Index: []

In [23]:
df.dtypes

date          object
time          object
latitude     float64
longitude    float64
magnitude    float64
epicenter     object
dtype: object

In [24]:
df["epicenter"] = df["epicenter"].apply(lambda x: re.sub(r"[^a-zA-Z\s]", "", x).strip())
df["epicenter"] = df["epicenter"].astype(str)

In [25]:
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [date, time, latitude, longitude, magnitude, epicenter]
Index: []

In [26]:
df.dtypes

date          object
time          object
latitude     float64
longitude    float64
magnitude    float64
epicenter     object
dtype: object

In [27]:
# Example: 'B.S.: 2081-12-21A.D.: 2025-04-04' â†’ '2025-04-04'
df["ad_date"] = df["date"].str.extract(r"A\.D\.\:\s*(\d{4}-\d{2}-\d{2})")

In [28]:
df["utc_time"] = df["time"].str.extract(r"UTC:\s*(\d{1,2}:\d{2})")

In [29]:
df["datetime"] = pd.to_datetime(df["ad_date"] + " " + df["utc_time"], errors="coerce")

In [30]:
df[df.isnull().any(axis=1)]

,date,time,latitude,longitude,magnitude,epicenter,ad_date,utc_time,datetime
1296,B.S.: 2051-10-16A.D.: 1995-01-30,Local: 11:00UTC: N/A,29.38,82.3,4.0,Jumla,1995-01-30,NaN,NaT

In [31]:
df.shape

(1250, 9)

In [33]:
duplicate_rows = df[df.duplicated(keep=False)]
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

   index                              date                    time  latitude  \
0    230  B.S.: 2076-09-27A.D.: 2020-01-12  Local: 20:19UTC: 14:34     29.58
1    232  B.S.: 2076-09-27A.D.: 2020-01-12  Local: 20:19UTC: 14:34     29.58

   longitude  magnitude epicenter     ad_date utc_time            datetime
0      81.71        4.5    Bajura  2020-01-12    14:34 2020-01-12 14:34:00
1      81.71        4.5    Bajura  2020-01-12    14:34 2020-01-12 14:34:00

In [34]:
df.drop_duplicates(inplace=True)

In [ ]:
duplicate_rows = df[df.duplicated(keep=False)]
duplicates_with_index = duplicate_rows.reset_index()
print(duplicates_with_index)

Empty DataFrame
Columns: [index, date, time, latitude, longitude, magnitude, epicenter, ad_date, utc_time, datetime]
Index: []

In [39]:
# Ensure datetime column is in datetime format
df["datetime"] = pd.to_datetime(df["datetime"], errors="coerce")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1249 entries, 1 to 1316
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1249 non-null   object
 1   time       1249 non-null   object
 2   latitude   1249 non-null   float64
 3   longitude  1249 non-null   float64
 4   magnitude  1249 non-null   float64
 5   epicenter  1249 non-null   object
 6   ad_date    1249 non-null   object
 7   utc_time   1248 non-null   object
 8   datetime   1248 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 97.6+ KB

In [43]:
df.to_csv("earthquakes_nepal.csv", index=False)