In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
all_data = []
page = 1

In [ ]:
while page <= 63:
    url = f"Link{page}"
    response = requests.get(url)
    if response.status_code != 200:
        break
    soup = BeautifulSoup(response.text, "html.parser")
    table = soup.find("table")
    if not table:
        break
    rows = table.find_all("tr")
    if len(rows) <= 1:
        break  # only header left → stop
    
    for row in rows[1:]:
        cols = row.find_all("td")
        if len(cols) > 0:
            date = cols[1].get_text(strip=True)
            time  = cols[2].get_text(strip=True)
            latitude = cols[3].get_text(strip=True)
            Longitude = cols[4].get_text(strip=True)
            magnitude = cols[5].get_text(strip=True)
            epicenter = cols[6].get_text(strip=True)
            all_data.append([date,time,latitude,Longitude,magnitude,epicenter])
    
    print(f"Scraped page {page}")
    page += 1  # move to next page

Scraped page 1
Scraped page 2
Scraped page 3
Scraped page 4
Scraped page 5
Scraped page 6
Scraped page 7
Scraped page 8
Scraped page 9
Scraped page 10
Scraped page 11
Scraped page 12
Scraped page 13
Scraped page 14
Scraped page 15
Scraped page 16
Scraped page 17
Scraped page 18
Scraped page 19
Scraped page 20
Scraped page 21
Scraped page 22
Scraped page 23
Scraped page 24
Scraped page 25
Scraped page 26
Scraped page 27
Scraped page 28
Scraped page 29
Scraped page 30
Scraped page 31
Scraped page 32
Scraped page 33
Scraped page 34
Scraped page 35
Scraped page 36
Scraped page 37
Scraped page 38
Scraped page 39
Scraped page 40
Scraped page 41
Scraped page 42
Scraped page 43
Scraped page 44
Scraped page 45
Scraped page 46
Scraped page 47
Scraped page 48
Scraped page 49
Scraped page 50
Scraped page 51
Scraped page 52
Scraped page 53
Scraped page 54
Scraped page 55
Scraped page 56
Scraped page 57
Scraped page 58
Scraped page 59
Scraped page 60
Scraped page 61
Scraped page 62
Scraped page 63

In [5]:
# Convert to DataFrame
df = pd.DataFrame(all_data, columns=['date','time','latitude','longitude','magnitude','epicenter'])

print(df.head())

                               date                    time latitude  \
0
1  B.S.: 2081-12-21A.D.: 2025-04-04  Local: 20:10UTC: 14:25    28.96
2  B.S.: 2081-12-21A.D.: 2025-04-04  Local: 20:07UTC: 14:22    28.95
3  B.S.: 2081-12-20A.D.: 2025-04-03  Local: 17:04UTC: 11:19    30.02
4  B.S.: 2081-12-12A.D.: 2025-03-26  Local: 19:44UTC: 13:59    29.69

  longitude magnitude  epicenter
0
1     82.12       5.5  Jajarkot*
2     82.12       5.2   Jajarkot
3     80.84       4.0   Darchula
4     81.82       4.5      Humla

In [6]:
df

,date,time,latitude,longitude,magnitude,epicenter
0,,,,,,
1,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:10UTC: 14:25,28.96,82.12,5.5,Jajarkot*
2,B.S.: 2081-12-21A.D.: 2025-04-04,Local: 20:07UTC: 14:22,28.95,82.12,5.2,Jajarkot
3,B.S.: 2081-12-20A.D.: 2025-04-03,Local: 17:04UTC: 11:19,30.02,80.84,4.0,Darchula
4,B.S.: 2081-12-12A.D.: 2025-03-26,Local: 19:44UTC: 13:59,29.69,81.82,4.5,Humla
...,...,...,...,...,...,...
1312,B.S.: 2051-03-11A.D.: 1994-06-25,Local: 14:17UTC: 08:32,27.82,86.19,5.1,Dolakha
1313,B.S.: 2051-02-11A.D.: 1994-05-25,Local: 19:10UTC: 13:25,29.80,82.41,4.5,Mugu
1314,B.S.: 2051-02-11A.D.: 1994-05-25,Local: 12:00UTC: 6:15,29.81,81.77,4.0,Bajura
1315,B.S.: 2051-01-20A.D.: 1994-05-03,Local: 00:30UTC: 18:45,28.52,83.03,4.4,Baglung
1316,B.S.: 2050-11-24A.D.: 1994-03-08,Local: 07:50UTC: 02:05,29.33,81.83,4.0,Kalikot

In [8]:
df.to_csv("earthquakes_nepal_0.csv", index=False, encoding="utf-8")

In [9]:
df.shape

(1317, 6)